.maze-form {
    display: grid;
    gap: 1rem;
    padding: 5px;
    margin-bottom: 3rem;
    > :nth-child(3) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
