.maker-maze-controller {
    margin-top: 1rem;
    display: grid;
    text-align: center;
    gap: 0.5rem;
    position: fixed;
    right: 1rem;
    top: 50vh;
    > :nth-child(1),
    > :nth-child(2) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}
@media (max-width: 1116px) {
    .maker-maze-controller {
        position: static !important;
        margin-top: 1rem;
        display: grid;
        text-align: center;
        gap: 0.5rem;
    }
}
